/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: 'Tahoma';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
 font-family: 'Trebuchet MS';
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 9pt;
 font-family: 'Courier New';
}
span.f_Heading1 /* Heading1 */
{
 font-size: 14pt;
 font-family: 'Trebuchet MS';
 font-weight: bold;
 color: #ffffff;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 11pt;
 font-family: 'Trebuchet MS';
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
span.f_Seealso /* See also */
{
}
span.f_Tip /* Tip */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 10px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
 margin: 0px 0px 0px 0px;
}
.p_Comment /* Comment */
{
}
.p_Heading1 /* Heading1 */
{
}
.p_Heading2 /* Heading2 */
{
 margin: 10px 0px 10px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_Notes /* Notes */
{
}
.p_Seealso /* See also */
{
 border-color: #808080;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 margin: 0px 10px 0px 10px;
}
.p_Tip /* Tip */
{
 border-color: #808080;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 margin: 14px 48px 10px 48px;
}
